<app-header></app-header>
<div id="menus">
  <div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-12">
            <div class="h-100 justify-content-center">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <h2>Nos Menus</h2>
                        <div id="list_menu" class="espace">
                          <div *ngFor="let hero of Menu let index = index">
                            <div *ngIf="index==0"><h4>Viandes</h4></div>
                            <ul *ngIf="hero.type_menu=='viandes'">
                                <li class="name_menu">
                                    {{hero.name_menu}}
                                </li>
                                <li>
                                    prix : {{hero.priceMenu}} €
                                </li>
                            </ul>
                          </div>
                          <div *ngFor="let hero of Menu  let index = index">
                            <div *ngIf="index==0"><h4>Poissons</h4></div>
                            <div>
                              <ul *ngIf="hero.type_menu=='poisson'">
                                  <li class="name_menu">
                                      {{hero.name_menu}}
                                  </li>
                                  <li>
                                      prix : {{hero.priceMenu}} €
                                  </li>
                              </ul>
                            </div>
                          </div>
                          <div class="type_menu" *ngFor="let hero of Menu let index = index">
                              <div *ngIf="index==0"><h4>Végétarien</h4></div>
                              <div>
                                  <ul *ngIf="hero.type_menu=='végétariens'">
                                      <li class="name_menu">
                                          {{hero.name_menu}}
                                      </li>
                                      <li>
                                          prix : {{hero.priceMenu}} €
                                      </li>
                                  </ul>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
  </div>
</div>
