<button class="btn button_goodfood" (click)="getCommandeForUser()">Afficher mes commandes</button>
<div id="listcommandeuser" *ngIf="afficheCommande">
  <h4>Liste des menus</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">prix</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commande of commandeUser  let index = index">
        <th scope="row">{{index+1}}</th>
        <td>{{commande.price_global}} €</td>
        <td>{{commande.createAt}}</td>
      </tr>
    </tbody>
  </table>
</div>
