<h4>Ajouter un menus</h4>
<form [formGroup]="MenusAddForm" (ngSubmit)="addMenus()"  id="connection" class="container text-center">
  <div id="champs_add_menus">
      <div class="espace">
          <input type="text" id="nameMenu"  class="form-control espace" placeholder="Nom du menu" formControlName="nameMenu" >
          <!--<input type="text" id="typeMenu"  class="form-control espace" placeholder="Type de menu" formControlName="typeMenu" >-->
          <input type="text" id="priceMenu"  class="form-control espace" placeholder="Prix du menu" formControlName="priceMenu" >
          <select class="form-control espace" formControlName="typeMenu" name="" id="">
            <option value="">Type de menu</option>
            <option value="viandes">viandes</option>
            <option value="poissons">poissons</option>
            <option value="végétarien">végétarien</option>
            <option value="autre">autre</option>
          </select>
      </div>
      <div class="row espace">
          <div class="col-lg">
            <input type="submit"  class="btn button_goodfood" value="Ajouter un menu" >
          </div>
      </div>
  </div>
</form>

<app-popup-message-information
[active]="activePop"
[message]="messageInformation"
(annulation)="popoUpClose($event)"
>
</app-popup-message-information>
