.espace{
  margin-bottom: 15px;
}

.message_info_reservation{
  font-size: large;
  color: #cc0000;
  text-align: center;
}


.heure{
  margin-right: 10px;

}

.minute{
  margin-left: 10px;
}

#champs_add_reservation{
  padding-left: 100px;
  padding-right: 100px;
}


@media (max-width:767px){
  #champs_add_reservation{
    padding-left: 0px;
    padding-right: 0px;
  }
}
