<h4>Faire une réservation</h4>
<form [formGroup]="ReservationAddForm" (ngSubmit)="addReservation()"  class="container text-center">
  <div id="champs_add_reservation">
      <div class="espace">
          <div>
            <label>Choisir un restaurant : </label>
            <select class="form-control espace" name="adresseRestaurant" id="adresseRestaurant" formControlName="adresseRestaurant" >
              <option *ngFor='let restaurant of restaurant' [value]="restaurant.city+' - '+restaurant.adresseRest">
                {{restaurant.city}} - {{restaurant.adresseRest}}
              </option>
            </select>
          </div>
          <input type="text" id="numberCustomers"  class="form-control espace" placeholder="Nombre de personne" formControlName="numberCustomers" >
          <input formControlName="date" class="form-control espace" type="date" id="start" name="trip-start" value="yearActual-monthActual-dayActual" min="yearActual-monthActual-dayActual">

          <div id="heure" class="input-group">
            <input type="number" id="adresseRest"  class="heure form-control espace" placeholder="heure" formControlName="heure"  min="11" max="23">
            <input  type="number" id="numPlaceRest"  class=" minute form-control espace" placeholder="minute" formControlName="minute" min="0" max="59">
          </div>
      </div>
      <div class="row espace">
          <div class="col-lg">
            <input type="submit"  class="btn button_goodfood" value="Réserver" >
          </div>
      </div>
  </div>
</form>
<p class=message_info_reservation>{{messageInformation}}</p>


