<h4>{{title}}</h4>
<form [formGroup]="MenusUpdateForm" (ngSubmit)="updateMenu()"  id="update_menus" class="container text-center">
  <div class="row espace">
      <div class="espace">
        <label for="nom">nom du menu : </label>
        <input type="text" id="nom"  class="form-control" [ngModel]="menu.nameMenu" formControlName="nom" required>
      </div>
      <div class="espace">
        <label for="prix">Prix : </label>
        <input type="text" id="prix"  class="form-control" [ngModel]="menu.priceMenu" formControlName="prix" required>
      </div>
  </div>
  <div class="row espace text-center">
    <div class="col-lg">
      <input type="submit"  class="btn button_goodfood espacebouton" value="Modification" >
      <button  class="btn button_goodfood espacebouton" (click)="annulationUpdate()">Annuler</button>
    </div>
  </div>
</form>
<app-popup-message-information
[active]="activePop"
[message]="messageInformation"
(annulation)="popoUpClose($event)"
>
</app-popup-message-information>
