<header *ngIf="showContainerPrivateComputer" class="container-fluid">
    <div class="row head">
        <div  class="col-sm title">
            <div class="row justify-content-center align-items-center">
                <div  class="col-sm d-flex justify-content-end">
                    <img (click)="returnHome();" class="logo redirecthome" src="../../../assets/logo.png"/>
                </div>
                <div  class="col-sm ml-auto ">
                    <h1 class="m-auto text-left">GOODFOOD</h1>
                </div>
            </div>
        </div>
        <div class="col-sm"> 
            <div class="row justify-content-around">
                <div id="lien">
                    <a class="lien" (click)="redirectMenusComposant();"><fa-icon [icon]="faBars"></fa-icon> Nos menus</a>
                    <span class="separation"><hr></span>
                    <a class="lien" (click)="redirectRestaurantComposant();"><fa-icon [icon]="faMap"></fa-icon> Trouver un restaurant</a>
                    <span class="separation"><hr/></span>
                    <a class="lien"(click)="redirectConnectionComposant();"><fa-icon [icon]="faUser"></fa-icon> Mon compte</a>
                </div>
            </div>
       </div>
    </div>
</header>

<header *ngIf="showContainerCellPhone" class="container-fluid">
    <div class="row" *ngIf="title_cellphone==true">
        <div class="col-sm d-flex justify-content-center title">
            <img class="logo" src="../../../assets/logo.png"/>
        </div>
    </div> 
    <div class="row" *ngIf="title_cellphone==true">
        <div class="col-sm d-flex justify-content-center">
            <h1 class="m-auto text-left">GOODFOOD</h1>
        </div>
    </div>

    <div class="row" *ngIf="option_sign==true">
        <div class="btn-group btn-group-justified ml-auto" role="group">
            <button (click)="redirectConnectionComposant();" type="button" id="button-connection" class="btn">CONNEXION</button>
        </div>
    </div>
    <div class="row" *ngIf="option_sign==true">
        <div  class="btn-group btn-group-justified ml-auto" role="group">
            <button (click)="redirectSubscribeComposant();" type="button" class="btn button_goodfood">INSCRIPTION</button>
        </div>
    </div>
</header>