.logo{
    max-width: 25%;
    height: auto;
    display: absolute;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title
{
    font-size: large;
   
}

.redirecthome{
 cursor: pointer;
}

#lien{
    margin-top: 40px;
    text-align: center;
    display: flex;
}

.separation{
	height: 40px;
    margin-top: 0px;
	width : 2px;
	background: #CC0000;
    margin-left: 30px;
}

#button-connection{
    border: 3px solid #CC0000;
    color: #CC0000;
    font-weight: bold;
    font-size:x-large;
    background-color: none;
}

.lien{
    color: #CC0000;
    font-weight: bold;
    font-size:x-large;
    cursor: pointer;
    margin-left: 30px;
    outline: none;
    text-decoration: none;
}

#button-return{
    border: 3px solid #CC0000;
    color: #fff;
    background-color: #CC0000;
    font-weight: bold;
    font-size: x-large;
    max-width : 300px;
    margin-left: 400px;
}

.option_home
{
    margin-top: 30px;
}

.head
{
    position: fixed;
    top:0px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 3px 3px #eee;
}

@media (min-width:768px){
    #button-connection{
        margin-left: 200px;
        margin-right: 20px;
    }
    
    .button_goodfood{
        margin-left: 0px;
        margin-right: 200px;
    }
}

@media (max-width:767px){
   header
   {
       margin-top: 25%;
       background-image: none;
       height: 100%;
   }
    #button-connection{
       margin-top: 100px;
       color: #CC0000;
    }
    
    .button_goodfood{
        margin-top: 25px;
    }
}