<h4>Ajouter un restaurant</h4>
<form [formGroup]="RestaurantAddForm" (ngSubmit)="addRestaurant()"  class="container text-center">
  <div id="champs_add_restaurant">
      <div class="espace">
          <input type="text" id="numSiretRest"  class="form-control espace" placeholder="Numéro de SIRET" formControlName="numSiretRest" >
          <input type="text" id="city"  class="form-control espace" placeholder="Ville" formControlName="city" >
          <input type="text" id="adresseRest"  class="form-control espace" placeholder="Adresse" formControlName="adresseRest" >
          <input type="text" id="numPlaceRest"  class="form-control espace" placeholder="Nombre de place" formControlName="numPlaceRest" >
          <input type="text" id="numberStaffRest"  class="form-control espace" placeholder="Nombre du personnel" formControlName="numberStaffRest" >
          <input type="text" id="countryRest"  class="form-control espace" placeholder="Pays du restaurant" formControlName="countryRest" >
      </div>
      <div class="row espace">
          <div class="col-lg">
            <input type="submit"  class="btn button_goodfood" value="Ajouter un restaurant" >
          </div>
      </div>
  </div>
</form>

<app-popup-message-information
[active]="activePop"
[message]="messageInformation"
(annulation)="popoUpClose($event)"
>
</app-popup-message-information>
