<h2>Gestion des menus</h2>
<div>
  <app-add-menus></app-add-menus>
</div>
<div>
  <h4>Liste des menus</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nom du menus</th>
        <th scope="col">prix</th>
        <th scope="col">rang du menus</th>
        <th scope="col">type du menus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menus of menus  let index = index">
        <th scope="row">{{index+1}}</th>
        <td>{{menus.name_menu}}</td>
        <td>{{menus.price_menu}} €</td>
        <td>{{menus.numberRankMenu}}</td>
        <td>{{menus.type_menu}}</td>
        <td><button (click)="afficheUpdateMenus(menus.id)">Mettre à jour</button></td>
        <td><button value="index" (click)="deleteMenu(menus.id)">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-update-menus
  *ngIf="updateMenusAffichage==true"
  [menu]="menu"
  (annulation)="annulationUpdate($event)"
>
</app-update-menus>


