<div id="gestion_restaurant">
  <h2>Gestion des restaurants</h2>
  <div>
    <app-add-restaurant></app-add-restaurant>
  </div>
  <div id="liste_rest">
    <h4>Liste des menus</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">numéro de siret</th>
          <th scope="col">ville</th>
          <th scope="col">adresse</th>
          <th scope="col">nom de place</th>
          <th scope="col">nombre de personnel</th>
          <th scope="col">nombre de visite</th>
          <th scope="col">Pays</th>
          <th scope="col">chiffre d'affaire</th>
          <th scope="col">taux de satisfaction %</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rest of restaurants  let index = index">
          <th scope="row">{{index+1}}</th>
          <td>{{rest.numSiretRest}}</td>
          <td>{{rest.city}}</td>
          <td>{{rest.adresseRest}}</td>
          <td>{{rest.numPlaceRest}}</td>
          <td>{{rest.numberStaffRest}}</td>
          <td>{{rest.numberVisitRest}}</td>
          <td>{{rest.countryRest}}</td>
          <td>{{rest.caRest}} €</td>
          <td>{{rest.satisfactionRateRest}} %</td>
          <td><button (click)="afficheUpdateMenus(rest.id)">Mettre à jour</button></td>
          <td><button value="index" (click)="deleteMenu(rest.id)">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-update-restaurant
*ngIf="updateMenusAffichage==true"
[restaurant]="restaurant"
(annulation)="annulationUpdate($event)">

</app-update-restaurant>

