<div id="signin">
    <div id="title" class="text-center">
        <h2>{{Title}}</h2>
    </div>
    <form [formGroup]="SubscribeForm" (ngSubmit)="connection()"  id="connection" class="container text-center">
        <div id="champs_connection">
            <div class="espace">
                <input type="text" id="username"  class="form-control" placeholder="Username" formControlName="username" required>
                <input type="password" id="password"  class="form-control" placeholder="Mot de passe" formControlName="password" required>
            </div>
            <div class="row espace">
                <div class="col-lg">
                <input type="submit"  class="btn button_goodfood" value="Connexion" >
                </div>
            </div> 
            <div class="row espace">
                <div class="col-lg">
                   Vous n'avez pas de compte ? <a class="lien" (click)="redirectSubscribeComposant()">S'inscrire</a>
                </div>
            </div> 
        </div>   
    </form>

</div>