#connection
{
    margin-top: 5px;
    height: 300px;
}

#signin{
    margin-top: 300px;
}

.espace{
    margin-top: 15px;
}

#title{
    margin-top: 50px;
}
input
{
    width: 350px;
    margin-top: 10px;
}

form{
    display: flex;
    justify-content: center;
}

.lien{
    color: #CC0000;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}


@media (max-width:767px){
    #signin{
        margin-top: 5px;
    }
 }
