<div id="gestUser">
  <h2>Gestion des paramètre utilisateur</h2>
  <div>
    <h4>Ajouter un rôle à un utilisateur</h4>
    <form [formGroup]="addRoleUserForm" (ngSubmit)="addRole()"  id="connection" class="container text-center">

        <input type="text" id="userid"  class="form-control" placeholder="userid" formControlName="userid">
        <select formControlName="role" name="role" id="role">
          <option value="ROLE_ADMIN">Admin</option>
        </select>


        <input type="submit"  class="btn button_goodfood" value="Ajouter le rôle" >

  </form>
  </div>
</div>
