#admin{
    margin-top: 175px;
}

.flexcontainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

@media (max-width:767px){
    #admin{
        margin-top: 10px;
    }

    #message{
      text-align: center;
      font-size: x-large;
    }

    .flexcontainer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 25px;
    }
    .marge{
      margin-bottom: 10px;
    }
 }
