<div *ngIf="showContainerPrivateComputer==true">
  <app-menus-admin
  (choix)="activePageWithMenus($event)"
  ></app-menus-admin>
  <div id="admin">
    <div class=" flexcontainer">
      <div class="col-lg-2 marge">
        <button (click)="redirectMyCompte()" class="btn button_goodfood float-right">Gérer mon compte</button>
      </div>
      <div class="col-lg-2 marge">
        <button (click)="deconnexion()" class="btn button_goodfood float-right">Déconnexion</button>
      </div>
    </div>
      <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-12">
                  <div class="h-100 justify-content-center">
                    <div>
                      <app-gestion-vision-fine *ngIf="visionFineActive"></app-gestion-vision-fine>
                      <app-getion-restaurant *ngIf="restaurantActive"></app-getion-restaurant>
                      <app-gestion-menus *ngIf="menusActive"></app-gestion-menus>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div *ngIf="showContainerCellPhone==true">
  <div class="container h-100" id="message_information" >
    <p id="message">En tant que membre de GoodFood, vous devez utiliser un support de type PC pour utiliser l'application, plus adapté à vos besoins.</p>
    <p id="message">Cordialement, l'équipe technique de GoodFood</p>
    <img  class="container h-100" src="../../../assets/logo.png" alt="">
  </div>
</div>

