<app-header></app-header>
<div id="mycompte">
  <div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-12">
            <div class="h-100 justify-content-center">
              <div *ngIf="userfound">
                  <app-update-user [user]="user"></app-update-user>
              </div>
            </div>
        </div>
    </div>
</div>

</div>
