<h4>Modifier paramètre utilisateur</h4>
<form [formGroup]="userUpdateForm" (ngSubmit)="updateUser()"  id="update_user" class="container text-center">
  <div class="row espace">
      <div class="espace">
        <input type="text" id="motdepasse" placeholder="Nouveau mot de passe"  class="form-control" formControlName="motdepasse">
      </div>
      <div class="espace">
        <input type="text" id="address" placeholder="adresse"  class="form-control" formControlName="address">
      </div>
  </div>
  <div class="row espace text-center">
    <div class="col-lg">
      <input type="submit"  class="btn button_goodfood espacebouton" value="Modification" >
    </div>
  </div>
</form>
<button class="btn button_goodfood espacebouton" (click)="deleteAccount()">Supprimer mon compte</button>

<app-popup-message-information
[active]="activePop"
[message]="messageInformation"
(annulation)="popoUpClose($event)"
>
</app-popup-message-information>
