#update_restaurant{
  margin-top: 25px;
  margin-bottom: 50px;
}

#champs_update_restaurant
{
  margin-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.espace{
  margin-bottom: 15px;
}

.espacebouton{
  margin-left: 15px;
  margin-right: 15px;
}
