<div id="update_restaurant">
  <h4>{{title}}</h4>
  <form [formGroup]="RestaurantUpdateForm" (ngSubmit)="updateMenu()"  id="update_menus" class="container text-center">
    <div class="row espace" id="champs_update_restaurant">
        <div class="espace">
          <label for="numplace">Nombre de place dans le restaurant</label>
          <input type="text" id="numplace"  class="form-control" [ngModel]="restaurant.numPlaceRest" formControlName="numplace" required>
        </div>
        <div class="espace">
          <label for="numStaff">Nombre du personnel</label>
          <input type="text" id="numStaff"   class="form-control" [ngModel]="restaurant.numberStaffRest" formControlName="numStaff" required>
        </div>
    </div>
    <div class="row espace text-center">
      <div class="col-lg">
        <input type="submit"  class="btn button_goodfood espacebouton" value="Modification" >
        <button  class="btn button_goodfood espacebouton" (click)="annulationUpdate()">Annuler</button>
      </div>
    </div>
  </form>
</div>

<app-popup-message-information
[active]="activePop"
[message]="messageInformation"
(annulation)="popoUpClose($event)"
>
</app-popup-message-information>

