<div class="section">
    <div id="title" class="text-center">
        <h2>{{Title}}</h2>
    </div>
    <form [formGroup]="SubscribeForm" (ngSubmit)="CreatUser()"  id="subscribe" class="container text-center">
        <div class="row espace">
            <div class="col-lg espace">
            <input type="text" id="firstName"  class="form-control" placeholder="Prénom" formControlName="firstName" required>
            </div>
            <div class="col-lg espace">
            <input type="text" id="lastName"  class="form-control" placeholder="Nom" formControlName="lastName" required>
            </div>
        </div>
        <div class="row espace text-center" id="birthdayform">
            <div class="col-lg">
            <label for="">Date de naissance</label>
            </div>
            <div class="col-lg espace">
            <select  name="dayBirth" id="dayBirth" class="form-control" formControlName="dayBirth">
                <option  [ngValue]="null" disabled hidden selected>Jour</option>
                <option  *ngFor="let day of DayArray; let iteration = index;"  value="{{iteration+1}}">{{iteration+1}}</option>
            </select>
            </div>
            <div class="col-lg espace">
            <select name="monthBirth"  id="monthBirth" class="form-control"   formControlName="monthBirth">
                <option [ngValue]="null" disabled hidden selected>Mois</option>
                <option value="1">Janvier</option><option value="2">Février</option>
                <option value="3">Mars</option><option value="4">Avril</option>
                <option value="5">Mai</option><option value="6">Juin</option>
                <option value="7">Juillet</option><option value="8">Août</option>
                <option value="9">Septembre</option><option value="10">Octobre</option>
                <option value="11">Novembre</option><option value="12">Décembre</option>
            </select>
            </div>
            <div class="col-lg espace">
            <select name="yearBirth"  id="yearBirth" class="form-control" formControlName="yearBirth">
                <option [ngValue]="null" disabled hidden selected>Année</option>
                <option *ngFor="let year of YearArray; let iteration=index;" value="{{Yearnow-iteration}}">{{Yearnow-iteration}}</option>
            </select>
            </div>
        </div>
        <div class="row espace text-center">
            <div class="col-lg">
            <input type="email"  class="form-control" placeholder="E-mail" formControlName="email" required>
            </div>
        </div>
        <div class="row espace text-center">
          <div class="col-lg">
          <input type="text"  class="form-control" placeholder="Username" formControlName="username" required>
          </div>
      </div>
        <div class="row espace text-center">
            <div class="col-lg">
            <input type="text"  class="form-control" placeholder="Adresse" formControlName="address" required>
            </div>
        </div>
        <div class="row espace text-center">
            <div class="col-lg">
            <input type="text"  class="form-control" placeholder="Ville" formControlName="city" required>
            </div>
        </div>
        <div class="row espace text-center">
            <div class="col-lg">
                <input type="password"  class="form-control" placeholder="Mot de passe" formControlName="password" required>
            </div>
        </div>
        <div class="row espace text-center">
            <div class="col-lg">
            <input type="submit"  class="btn button_goodfood" value="INSCRIPTION" >
            </div>
        </div>
    </form>
</div>
