<footer *ngIf="showContainerPrivateComputer" class="text-center text-lg-start bg-light text-muted">
  
    <!-- Section: Links  -->
    <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                 Lien utile
                </h6>
                <p>
                    Nous contacter
                </p>
                <p>
                    Mention Légale
                </p>
                <p>
                    Offre d'emploi
                </p>
            </div>
          <!-- Grid column -->

  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p>Paris - La défense</p>
            <p>
              info@goodfood.com
            </p>
            <p>+33 102030405</p>
          </div>
          <!-- Grid column -->

           <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
                SUIVEZ-NOUS
              </h6>
                <a href="" class="me-4 text-reset">
                    <fa-icon class="icon" [icon]="faTwitter" size="2x"></fa-icon>
                </a>
                <a href="" class="me-4 text-reset">
                    <fa-icon class="icon" [icon]="faFacebookSquare" size="2x"></fa-icon>
                </a>
                <a href="" class="me-4 text-reset">
                    <fa-icon class="icon" [icon]="faLinkedin" size="2x"></fa-icon>
                </a>
                <a href="" class="me-4 text-reset">
                    <fa-icon class="icon" [icon]="faYoutube" size="2x"></fa-icon>
                </a>
            </div>
        </div>

        
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © {{annee_en_cour}} Copyright:
      <a class="text-reset fw-bold" href="http://localhost:4200/">goodfood.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
