#footer
{
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 30%;
    color: #FFF;
    left: 0px;
    right: 0px;
}

#infos
{
    
    background-color: #000;
    padding: 15px;
}

.info
{
    margin-bottom: 10px;
}

#copy_rigth{
    height: 10%;
    background-color: #CC0000
}

.icon
{
    color: #CC0000;
    margin-right: 10px;
}
