#champs_add_reservation
{
  margin-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.espace{
  margin-bottom: 15px;
}

#datetime{
  display: flex;
  justify-content: space-between;
}


@media (max-width:767px){
  #champs_add_reservation
  {
    margin-top: 50px;
    padding-left: 0px;
  padding-right: 0px;
  }
}
