<button class="btn button_goodfood" *ngIf="!reservationAffiche" (click)="afficherReservation()">Créer une réservation</button>
<app-add-reservation *ngIf="reservationAffiche" [restaurant]="restaurants"></app-add-reservation>
