#menu_admin{
  position: fixed;
  left: 50px;
  top: 135px;
  height: 100%;
  bottom: 0;
  background-color: #F2F2F2;
  width: 200px;
}

.boutton{
  height: 60px;
  border-top: 1px solid #cc0000;
  border-bottom: 1px solid #cc0000;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  color: #cc0000;
}


#first_bar{
  position: fixed;
  left: 0;
  top: 135px;
  height: 100%;
  bottom: 0;
  width: 50px;
  background-color: #cc0000;
}

#barre_menu{
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: x-large;
}

#barre{
  cursor: pointer;
}


