<div id="first_bar">
  <div id="barre_menu">
    <fa-icon id="barre" (click)="afficherMenu()" [icon]="faBars"></fa-icon>
  </div>
</div>
<div *ngIf="menuaffiche" id="menu_admin">
  <div  id="barremenus">
    <div  id="second_bar">
      <div class="boutton" (click)="selectMenu('vision-fine')">
        Vision Fine
      </div>
      <div class="boutton" (click)="selectMenu('menus')">
        Menus
      </div>
      <div class="boutton" (click)="selectMenu('restaurant')">
        Restaurant
      </div>
    </div>
  </div>
</div>
