<app-header></app-header>
<div  id="restaurant">
  <div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-12">
            <div class="h-100 justify-content-center">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <h2>Nos restaurant</h2>
                        <div class="espace">
                          <div *ngFor="let resto of restaurant let index = index">
                            <div id="list_rest">
                                <ul>
                                    <li class="name_rest">
                                        {{resto.city}}
                                    </li>
                                    <li>
                                      {{resto.adresse_rest}}
                                  </li>
                                </ul>
                            </div>
                        </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
  </div>
</div>
