
#information_add_menus{
  color: #cc0000;
  font-weight: bold;
  font-size: larger;
}

#panier_info{
  margin-bottom: 50px;
}

.bouton_menus_add{
  border:#cc0000 1px solid;
  background-color: #fff;
  color: #cc0000;
  font-size:large;
  cursor:pointer;
  width:30px;
  height:30px;
  border-radius:50%;
}
