<div id="commande_membre" *ngIf="pannierAffiche==false">
  <h4>Sélectionner vos menus</h4>
  <table class="larger_table table table-striped">
    <thead>
      <tr>
        <th scope="col">nom du menus</th>
        <th scope="col">prix</th>
        <th scope="col">type du menus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menus of menus  let index = index">
        <td>{{menus.name_menu}}</td>
        <td>{{menus.price_menu}} €</td>
        <td>{{menus.type_menu}}</td>
        <td><button class="bouton_menus_add" (click)="addToListe(menus.id, menus.price_menu, menus.name_menu)">+</button></td>
        <td><button class="bouton_menus_add" (click)="removeToListe(menus.id, menus.price_menu, menus.name_menu)">-</button></td>
      </tr>
    </tbody>
  </table>
  <div id="panier_info">
    <p id="information_add_menus">Nombre de menus ajoutés : {{numberMenusAdd}}</p>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button class="btn button_goodfood" *ngIf="numberMenusAdd>0" (click)="afficherPanier()">Mon panier</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container text-center">
  <button class="btn button_goodfood" *ngIf="pannierAffiche==true" (click)="afficherPanier()">Annuler</button>
</div>



<app-panier-commande *ngIf="pannierAffiche==true"
[user]="user"
[nombreMenu]="numberMenusAdd"
[menusSelectionne]="listMenusSelect"
></app-panier-commande>
