

img{
    max-width: 100%;
}

#menu_info
{
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
}

.description_info{
    font-style: italic;
}