/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #CC0000;
    max-width: 100%;
    font-size: 3em;
    height: auto;
    user-select: none; -moz-user-select: none; -webkit-user-select: none; -webkit-user-drag: none; -ms-user-select: none;
}

h2{
  color: #CC0000;
}

h4{
  color: grey;
}

img{
    user-select: none; -moz-user-select: none; -webkit-user-select: none; -webkit-user-drag: none; -ms-user-select: none;
}

.button_goodfood{
    border: 3px solid #CC0000;
    color: #FFF;
    background-color: #CC0000;
    font-weight: bold;
    font-size: x-large;
}

.button_goodfood:hover{
    color: #FFF;
}

#title
{
    margin-top: 50px;
    margin-bottom: 10px;
    color: #CC0000;
}

.section{
    margin-top: 200px;
}

@media (max-width:767px){
    .section{
        margin-top: 10px;
    }
 }
