<div id="membre">

  <div class=" flexcontainer">
    <div class="col-lg-2 marge">
      <button (click)="redirectMyCompte()" class="btn button_goodfood float-right">Gérer mon compte</button>
    </div>
    <div class="col-lg-2 marge">
      <button (click)="deconnexion()" class="btn button_goodfood float-right">Déconnexion</button>
    </div>
  </div>

      <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="h-100 justify-content-center">
                  <div>
                    <button class="onglet_membre" (click)="activeVueCommande()">Commander</button>
                    <button class="onglet_membre" (click)="activeVueReservation()">Réserver</button>
                    <button class="onglet_membre" (click)="activeVueInformation()">Information</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="h-100 justify-content-center">
                  <div>
                    <app-commande *ngIf="commandeActive == true" [user]="user"></app-commande>
                    <app-reservation *ngIf="reservationActive == true"></app-reservation>
                    <app-information *ngIf="informationActive == true" [user]="user"></app-information>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
