<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">nom du menus</th>
        <th scope="col">prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menus of menusSelectionne  let index = index">
        <td>{{menus.nameMenu}}</td>
        <td>{{menus.priceMenu}} €</td>
      </tr>
      <tr *ngIf="prixTotal!==0">
        <th>Prix total</th>
        <th>{{prixTotal}} €</th>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn button_goodfood" *ngIf="prixTotal==0 && nombreMenu>0" (click)="calculerLePrix()">Afficher total à payer</button>
        <button class="btn button_goodfood" *ngIf="prixTotal!==0 && commandeeffectue!==true" (click)="commander()">Commander</button>
      </div>
    </div>
  </div>

  <p class=message_info_panier>{{messageInformation}}</p>
</div>
