<h2>Liste des commandes</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">prix</th>
      <th scope="col">Date</th>
      <th scope="col">Client</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comm of commande  let index = index">
      <th scope="row">{{comm.id}}</th>
      <th>{{comm.price_global}} €</th>
      <td>{{comm.create_at}}</td>
      <td>{{comm.username}}</td>
    </tr>
    <tr *ngIf="prixTotal!==0">
      <th scope="row">Total</th>
      <th>{{prixTotal}} €</th>
    </tr>
  </tbody>
</table>
<button *ngIf="prixTotal==0" (click)="calculTotal()">Afficher le revenu total</button>
