<div id="modal"
 *ngIf="active==true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
